div{
    background-color: black;
    width: 100px;
    height: 100px;
    display: inline-block;
    margin: 10px;
    padding: 10px;
    border: 2px black solid;
}

.image img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
}

.image {
  flex: 1 1 100%;               
  max-width: 100%;
  aspect-ratio: 3 / 2;           
  border: 2px solid #a19f9f;
  
  
}
@media (min-width: 600px) {
  .image{
    flex: 1 1 calc(50% - 15px);
    max-width: calc(50% - 15px);
  }
}

@media (min-width: 900px) {
  .image {
    flex: 1 1 calc(33.33% - 15px);
    max-width: calc(33.33% - 15px);
  }
}

@media (min-width: 1200px) {
  .image {
    flex: 1 1 calc(20% - 15px);
    max-width: calc(20% - 15px);
  }
}